#description{
    min-height: 100px;
}
.eventavatar  img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.eventavatar h2{
    float: right;
    margin-top: 80px;
    margin-right: 20px;
}
.edit-btn{
    font-weight: bold;
}