.index-pagination {
    display: flex;
    justify-content: center;
}
.indexing-buttons {
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    position: absolute;
    right: 10px;
    margin-top: 10px;
    height: 0;
}
.indexing-buttons button {
    margin: 5px 5px 0 0;
}